{% extends 'doctor_header.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	
	</head>

</head>
<body>
	<br>
	<br>
	<br>
	<br>
<center>
	<h1>change password </h1>
	{% if msg %}
		<b style="color:blue;"> {{msg}}</b>
	{% endif %}
	<form name="change_password" method="post" action="{% url 'change_password'%}">
		
		{% csrf_token %}
		<table>
			
				
			<tr>
				<td>old password</td>
				<td><input type="password"  name="old_password"></td>
				<br>
			
			</tr>
			 
			<tr>
				<td>new password</td>
				<td><input type="password" name="new_password"></td>
				
			</tr>
			<tr>
				<td>conform password</td>
				<td><input type="password" name="cnew_password"></td>
				
			</tr>
			
			
			 <tr>
				<td colspan="2" align="center"><input type="submit" name="action" value="change_password" class="btn btn-primary" ></td>
				<br>
				<br>
				<br>
			</tr> 
		</table>
	</form>
</center

	
</body>
</html>
{% endblock %}